*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #80218d;
    padding: 8px;
    width: 100%;
    width: 1280px;
    margin: auto;
    text-align: center;
}

header .container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.ajuda{
    text-decoration: none;
    display: flex;
}

ajuda .container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

header h2{
    color: #ffffff;
    font-size: 30px;
    margin: 0 auto;
}

header ul a{
    font-size: 30px;
    text-decoration: none;
    color: #454545;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    margin-right: 50px;
}

header nav ul li:last-child {
    margin-right: 0;
}

.container img{
    margin-top: 32px;
    height:auto;
    display: flex;
}

.container p{
    font-size: 20px;
    max-width: 100%;
}

section .container img{
    display: flex;
    align-items: center;
}

section .ajuda a,
section .ajuda ul{
    text-decoration: none;
    display: flex;
    margin-right:  40px;
    list-style: none;
    color: grey
}

section .ajuda ul{
    margin-left: 1430px;
    margin-top: 14px;
}

section .ajuda hr{
    width: 200%;
    border-top: 3px solid #d8d8d8;
    margin: 14px;
}

.banner h1{
    font-size: 50px;
    margin-left: 330px;
    margin-right: 52px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e203ff;
}

.banner{
    display: flex;
    align-items: center;
}

.banner input{
    margin-top: 5px;
    padding: 8px;
    width: 500px;
    border: 2px solid  #80218d ;
    font-size: 20px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.banner ::placeholder{
    color: #a50fb9a4;
}

.banner i{
    padding: 11px;
    background-color: #80218d;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-top: 4px;
}

.banner ul{
    display: flex;
    margin-left: 100px;
    list-style-type: none;
}

.banner ul li a{
    text-decoration: none;
    margin-right: 40px;
    color: grey;
    font-size: 20px;
}

.conteudo{
    display: flex;
    width: 100%;
    align-items: center;
}  

.conteudo img{
    margin-right: 40px;
    padding: 10px;
    background-color: #80218d;
    height: 300px;
}

.conteudo h2{
    border-radius: 5px;
    width: 63%;
    background-color: #d5bed3;
    padding-left: 4px;
    color: #622560;
    font-size: 30px;
    margin-bottom: 8px;
    margin-left: 105px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo p{
    color: #211120;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo .creme{
    width: 517px;
}

.conteudo .texto{
    max-width: 700px;
}

section{
    margin-bottom: 50px;
    margin-top: 20px;
}

footer {
    background-color: #80218d;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.contato{
    font-size: 24px;
    color:#d51aed;
}

.contato h1{
    margin-bottom: 20px;
}

.contato input{
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
}

.form-group{
    display: flex;
    align-items: center;
    margin-left: 50px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group input{
    margin-right: 800px;
    align-items: center;
}

input, textarea {
    width: 300px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contato h1{
    margin-left: 10px;
    color: #e100ff;
}

.contato form{
    border-radius: 5px;
    padding: 10px;
}

.botao {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #80218d; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: 360px;
    margin-bottom: 60px;
}

.botao:hover {
    background-color: #6a1a76;
}

.patrocinadores2{
    display: flex;
}

.patrocinadores img{
    height: 50px;
    border-radius: 20px;
    margin-left: 150px;
    margin-bottom: 70px;
    width: auto;
}

.input-text{
    width: 20px;
    margin-left: 540px;
    font-size: 26px;
    color: #d51aed;
    margin-bottom: 20px;

}

.pagamento img{
    height: 100px;
    width: 300px;
    margin: auto;
    margin-left: 500px;
}

.container h1{
    color: #d51aed;
    font-size: 26px;
    margin-bottom: 30px;
}

.container label{
    color: #d51aed;
    font-size: 24px;
}
